*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Inter';
}
body{
    width:100%;
    height:100%;
    background-color: rgba(6,16,43,255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(255, 255, 255, 0.901);
}
header{
    /* border:2px solid red; */
}
header nav{
    /* border:2px solid rgb(13, 0, 255); */
    padding:40px 150px;
    display:flex;
    justify-content:space-between;

}
header nav .logo{
    /* border:2xp solid black; */
    width:100px;
    height:35px;
    display:flex;
}
header nav .logo img{
    width:50%;
    height:100%;
    /* border:2px solid white; */
}
header nav .logo h3{
    /* border:2px solid yellow; */
    height:80%;
    margin:auto;
    padding-right:8px;
}
header nav .navtitle{
    /* border:2px solid red; */
    width:487px;
}
header nav .links{
    /* border:2px solid blue; */
    width:100%;
    display:flex;
    flex-direction:row;
}
header nav .navtitle .links li{
    /* border:2px solid green; */
    padding:0px 30px;
    list-style:none;
    
}
header nav .navtitle .links li a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.881);
}
header nav .navtitle .links li a:hover{
    color:#9894dc;
}
/* header nav .navtitle .links:hover{
    border-bottom:2px solid #9894dc;
} */
#sec1{
    /* border:2px solid red; */
    display:flex;
    justify-content: space-between;
    padding:50px 200px 50px 200px;
    width:100%;
}
#sec1 .left{
    /* border:2px solid black; */
    width:40%;
    padding-top:5%;
    height:450px;
}
#sec1 .left .t1{
    /* border:2px solid yellow; */
    font-size:65px;
    font-weight:bolder;
    line-height:65px;
}
#sec1 .right{
    /* border:2px solid red; */
    height:450px;
    width:45%;
}
#sec1 .right img{
    /* border:2px solid blue; */
    width:90%;
    height:80%;
}
#sec1 .left .t2{
    /* border:2px solid blue; */
    font-weight:bold;
    letter-spacing:1.5px;
    padding: 10% 10% 10% 0%;
    /* letter-spacing: 1px; */
}
#sec1 .left .t3{
    /* border:2px solid red; */
    width:94%;
    display:flex;
    justify-content: space-between;
}
#sec1 .left .t3 button{
    padding:12px 38px;
    border-radius:25px;
    font-size:22px;
    
    font-weight: bold;
    color:rgba(255, 255, 255, 0.667);
    border:2px solid #9894dc;
    background-color:#9894dc;
    background-color:rgba(6,16,43,255);
}
#sec1 .left .t3 button:hover{
    color:white;
    background-color:#9894dc;
}
#sec1{
    /* border:2px solid red; */
}
#sec2{
    /* border:2px solid rgb(199, 199, 228); */
}
#sec2 .logosec{
    margin:0px auto;
    width:70%;
    /* border: 2px solid green; */
}
#sec2 .logosec img{
    width:100%;
}
#sec2 .logosec a{
    display:block;
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}
#Analytics{
    border:2px solid rgba(255, 255, 0, 0);
    width:100%;
    height:560px;
    /* gap:75px; */
}
#Analytics .con{
    margin:80px auto 0px auto;
    width:75%;
    /* border:2px solid red; */
    display:flex;
    justify-content: space-between;
}
#Analytics .con .left{
    /* border:2px solid skyblue; */
    width:500.36px;
    height:450px;
}
#Analytics .con .left img{
    width:100%;
    height:100%;
    /* border:2px solid green; */
}
#Analytics .con .right{
    /* border:2px solid yellow; */
    margin:auto 0px;
    width:459px;
    height:375px;
}
#Analytics .con .right .f{
    width:100%;
    color:lightblue;
    /* border:2px solid lightblue; */
}
#Analytics .con .right .s{
    width:100%;
    padding:5px 0px;
    font-size:40px;
    font-weight:bold;
    /* border:2px solid rgb(248, 115, 115); */
}
#Analytics .con .right .t{
    width:100%;
    padding:20px 0px;
    font-size:20px;
    /* border:2px solid rgb(115, 251, 105); */
}
#Analytics .con .right .fth{
    width:100%;
    height:125px;
    /* border:2px solid rgb(112, 65, 255); */
    display:flex;
    flex-direction:column-reverse;
}
#Analytics .con .right .fth button{
    font-size:25px;
    padding:20px 72px;
    border-radius:40px;
    border:none;
    font-weight:bold;
    background:#9894dc;
    background-color: #9894dc7a;

    color:rgba(255, 255, 255, 0.766);
    width:75%;
}
#Analytics .con .right .fth button:hover{
    background:#9894dc;
    color:white;
}
#Frame24{
    border:2px solid rgb(255, 255, 255);
    width:100%;
    height:585px;
}
#Frame24 .con1{
    margin:50px auto 0px auto;
    width:75%;
    height:460px;
    border:2px solid red;
    display:flex;
    justify-content: space-between;
}
#Frame24 .con1 .right{
    width:500.36px;
    height:450px;
    border:2px solid white;
}
#Frame24 .con1 .left{
    margin:auto 0px;
    width:459px;
    height:375px;
    border:2px solid greenyellow;
}
#Frame24 .con1 .right img{
    height:100%;
    width:88%;
}
#Frame24 .con1 .left{
    /* border:2px solid yellow; */
    margin:auto 0px;
    width:459px;
    height:375px;
}
#Frame24 .con1 .left .f{
    width:100%;
    color:lightblue;
    /* border:2px solid lightblue; */
}
#Frame24 .con1 .left .s{
    width:100%;
    padding:5px 0px;
    font-size:40px;
    font-weight:bold;
    /* border:2px solid rgb(248, 115, 115); */
}
#Frame24 .con1 .left .t{
    width:100%;
    padding:20px 0px;
    font-size:20px;
    /* border:2px solid rgb(115, 251, 105); */
}
#Frame24 .con1 .left .fth{
    width:100%;
    height:125px;
    /* border:2px solid rgb(112, 65, 255); */
    display:flex;
    flex-direction:column-reverse;
}
#Frame24 .con1 .left .fth button{
    font-size:23px;
    padding:20px 75px;
    border-radius:40px;
    border:none;
    font-weight:bold;
    background-color: #9894dc7a;

    color:rgba(255, 255, 255, 0.766);
    width:80%;
}
#Frame24 .con1 .left .fth button:hover{
    background:#9894dc;
    color:white;
}